footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    color: rgb(18, 135, 232);
}

a:link {
    color: rgb(0, 0, 0);
}

a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(8, 218, 40);
}

a:active {
    color: rgb(0, 0, 0);
}